image: node:lts-bullseye

stages:
  - build
  - deploy

gatsby-build:
  stage: build
  variables:
    CHOKIDAR_USEPOLLING: 1
  cache:
    paths:
    - node_modules/
  script:
  - yarn config set registry https://registry.npmmirror.com
  - npm config set sharp_binary_host https://npmmirror.com/mirrors/sharp
  - npm config set sharp_libvips_binary_host https://npmmirror.com/mirrors/sharp-libvips
  - yarn install --frozen-lockfile
  - yarn run build
  artifacts:
    paths:
    - public

deploy-webhook:
  stage: deploy
  only:
  - main
  script:
  - echo 'webhook should be triggered'
  environment:
    name: staging
    url: https://mirror.zju.edu.cn/index