.prose pre
    background-color: #F2F7F9
    color: #374151
    border-radius: 0.375rem
    padding: 1rem

code
    background-color: #F2F7F9
    line-height: 150%

p
    font-family: "Roboto"

a
    color: #157684
