.th {
    text-align: left;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid #d3d3d3;
    cursor: pointer;
}

.td {
    font-size: 14px;
    border: 1px solid #d3d3d3;
}
